@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/HomeIndex.css" rel="stylesheet" />
@model IEnumerable<ShippingCompany.Models.PortModel>
<div class="content">
    @foreach (var item in Model)
    {
        <div class="item">
            <h5>@item.Name</h5>
            <div class="info">
                <div class="filds">
                    <div class="fild"><span class="title">Country: </span>"@item.Country"</div>
                </div>
                <div class="view">
                    <a href="#">Редагувати</a>
                    <a href="#">Видалити</a>
                </div>
            </div>
        </div>
    }
    <div class="admin_panel">
        <a asp-controller="DataEdit" asp-action="CreatePort">Додати порт</a>
    </div>
</div>
