@model ShippingCompany.Models.PortInfoModel
    <div class="modal-content">
        <div class="modal-header">
            <h4>Ви впевнені що хочете видалити цей порт?</h4>
        </div>
        <div class="modal-body">
            <form method="post">
                <div class="d-inline-flex">
                    <input type="button" class="button-close" value="Ні. Скасувати" />
                    <input type="button" class="button-confirm" value="Так. Видалити" />
                </div>
            </form>
        </div>
    </div>