<div class="port_item">
    <div class="data-section">
        <input type="hidden" class="Id" />
        <input type="hidden" class="Port" />
        <input type="hidden" class="PortId" />
        <input type="hidden" class="TimeOfArrival" />
        <input type="hidden" class="ParkingTime" />
        <div>
            <label>Порт: </label>
            <span class="TextPort"></span>
        </div>
        <div>
            <label>Дата і час прибття: </label>
            <span class="TextTimeOfArrival"></span>
        </div>
        <div>
            <label>Час стоянки: </label>
            <span class="TextParkingTime"></span>
        </div>
    </div>
    <div class="button-section">

    </div>
</div>