@model ShippingCompany.Models.CabinModel
    <div class="flex-xl-row">
        <div>
            <input type="hidden" />
            <input type="hidden" />
            <input type="hidden" />
            <input type="hidden" />
            <input type="hidden" />
            <div>Номер: </div>
            <div>Місць: </div>
            <div>Ціна: </div>
        </div>
        <div>
            <button type="button" class="edit btn-outline-primary">Редагувати</button>
            <button type="button" class="delete btn-outline-danger">Видалити</button>
        </div>
    </div>